
body{
    /*
       Centers the canvas
    */
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: black;
}

canvas{
    /*
       sets the canvas border
    */
    border:2px solid white;
}

#instructions{
    /*
       sets up the instruction text
    */
    color:white;
    width:300px;
    padding:0 20px 20px 20px;
    margin-left: 20px;
}

h2{
    /*
       h2 setup
    */
    font-family:Arial, Helvetica, sans-serif;
}

.game-img{
    /*
       hides all html <img> tags
    */
    display:none;
}

